{% extends 'base.html' %}

{% block title %} Top N {% endblock %}


{% macro render_infos_score(news, width, height) %}
  <span><img src="{{ url_for('static', filename=news['img_src']) }}" class="card-img-left" alt="{{ news['site'] }}" style="width:{{ width }}; height:{{ height }};"></span>
  <span><b> ~ <a href="{{ news['url_news'] }}" title="{{ news['url_news'] }}" style="color: black;">{{ news["title_news"] }}</a></b></span>
  <span>
    <small><small>
      <span>
        <b>Nível negativo/positivo:</b>
        <span class="text-info">{{ news['score_tb'] }} ({{ news['sentiment_tb'] }})</span>
        </br>
        <b>Nível subjetivo/objetivo</b>
        <span class="text-info">{{ news['score_subjectivity'] }} ({{ news['subjectivity_tb'] }})</span>
      </small></small>
    </span>    
  </span>
{% endmacro %}

{% block news_left %}
  {% for news in list_news %}  
    {% if (news['espectro']=='left') and (news['tag']=='Gerais') %}
      <div class="row text-md-left">
        {% if news['site'] == 'Brasil de Fato' %}
          {{ render_infos_score(news, width='3.0em', height='1.3em') }}
        {% elif news['site'] == 'Carta Capital' %}
          {{ render_infos_score(news, width='3.8em', height='1.2em') }}
        {% elif (news['site'] == 'ICL Notícias') %}          
          {{ render_infos_score(news, width='4.7em', height='1.5em') }}                
        {% endif %}        
      </div>
      <hr>
    {% endif %}    
  {% endfor %}
{% endblock %}

{% block news_center %}
  {% for news in list_news %}
    {% if (news['espectro']=='center') and (news['tag']=='Gerais') %}
    <div class="row text-md-left">    
      {% if news['site'] == 'Agência Brasil' %}
        {{ render_infos_score(news, width='3.7em', height='1.6em') }}
      {% elif news['site'] == 'Poder 360' %}
        {{ render_infos_score(news, width='2.9em', height='1.3em') }}
      {% endif %}
    </div>      
    <hr>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block news_right %}
  {% for news in list_news %}  
    {% if (news['espectro']=='right') and (news['tag']=='Gerais') %}
    <div class="row text-md-left">
        {% if news['site'] == 'G1-Mundo' %}
          {{ render_infos_score(news, width='1.2em', height='0.9em') }}
        {% elif news['site'] == 'UOL' %}
          {{ render_infos_score(news, width='2.5em', height='1.0em') }}
        {% elif news['site'] == 'Canaltech' %}
          {{ render_infos_score(news, width='1.2em', height='1.2em') }}
        {% elif news['site'] == 'Tecmundo' %}
          {{ render_infos_score(news, width='1.0em', height='1.1em') }}
        {% endif %}
      </div>
      <hr>
    {% endif %}         
  {% endfor %}
{% endblock %}