{% extends 'base.html' %}

{% block title %} Top N {% endblock %}

{% macro render_infos_score(news, width, height) %}
  <div><img src="{{ url_for('static', filename=news['img_src']) }}" class="card-img-left" alt="{{ news['site'] }}" style="width:{{ width }}; height:{{ height }};"></div>
  <div title=". Nível de Subjetividade: objetivo ~ 0%; neutro ~ 50%; subjetivo ~ 100%
              . Nível de Positividade: neutro ~ 0%; positivo ~ 50%; negativo ~ 100%">
    <b> ~ <a href="{{ news['url_news'] }}" title="{{ news['url_news'] }}" style="color: black;">{{ news["title_news"] }}</a></b>
    </br>
    <small><small><b>Positividade - {{ news['sentiment_tb'] }}</b></small></small> 
    <div class="progress" style="height:1.1em;">
      <div class="progress-bar bg-info" role="progressbar" style="height:100%;width:{{ news['score_tb'] }}%;letter-spacing:2px" aria-valuenow="{{ news['score_tb'] }}" aria-valuemin="0" aria-valuemax="100">
        {% if news['score_tb'] > 30 %}
          <b><small>{{ news['score_tb'] }}%</small></b>
        {% elif  news['score_tb'] > 10 %}
          <b><small>{{ news['score_tb'] }}%</small></b>
        {% endif %}
      </div>
    </div>        
    </br>
    <small><small><b>Subjetividade - {{ news['subjectivity_tb'] }}</b></small></small> 
    <div class="progress" style="height:1.1em;">
      <div class="progress-bar bg-info" role="progressbar" style="height:100%;width:{{ news['score_subjectivity'] }}%;letter-spacing:2px" aria-valuenow="{{ news['score_subjectivity'] }}" aria-valuemin="0" aria-valuemax="100">
        {% if news['score_subjectivity'] > 30 %}
          <b><small>{{ news['score_subjectivity'] }}%</small></b>
        {% elif  news['score_subjectivity'] > 10 %}
          <b><small>{{ news['score_subjectivity'] }}%</small></b>
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}

{% block news_left %}
  {% for news in list_news %}
    {% if news['title_news'] != None %}
      {% if (news['raia']=='left') and (news['tag']=='Gerais') %}      
        <div class="row text-md-left">          
          {% if news['site'] == 'Brasil de Fato' %}
            {{ render_infos_score(news, width='3.0em', height='1.3em') }}
          {% elif news['site'] == 'Carta Capital' %}
            {{ render_infos_score(news, width='3.8em', height='1.2em') }}
          {% elif (news['site'] == 'ICL Notícias') %}          
            {{ render_infos_score(news, width='4.7em', height='1.5em') }}                
          {% endif %}        
        </div>
        <hr>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endblock %}

{% block news_center %}
  {% for news in list_news %}
    {% if news['title_news'] != None %}
      {% if (news['raia']=='center') and (news['tag']=='Gerais') %}
      <div class="row text-md-left">    
        {% if news['site'] == 'Agência Brasil' %}
          {{ render_infos_score(news, width='3.7em', height='1.6em') }}
        {% elif news['site'] == 'Poder 360' %}
          {{ render_infos_score(news, width='2.9em', height='1.3em') }}
        {% endif %}
      </div>      
      <hr>
      {% endif %}
      {% endif %}
  {% endfor %}
{% endblock %}

{% block news_right %}
  {% for news in list_news %}
    {% if news['title_news'] != None %}
      {% if (news['raia']=='right') and (news['tag']=='Gerais') %}
      <div class="row text-md-left">
          {% if news['site'] == 'G1-Mundo' %}
            {{ render_infos_score(news, width='1.2em', height='0.9em') }}
          {% elif news['site'] == 'UOL' %}
            {{ render_infos_score(news, width='2.5em', height='1.0em') }}
          {% elif news['site'] == 'Canaltech' %}
            {{ render_infos_score(news, width='1.2em', height='1.2em') }}
          {% elif news['site'] == 'Tecmundo' %}
            {{ render_infos_score(news, width='1.0em', height='1.1em') }}
          {% endif %}
        </div>
        <hr>
      {% endif %}
    {% endif %} 
  {% endfor %}
{% endblock %}